.content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 900px){
    .content{
        padding:0px 5px;
    }
}

@media screen and (max-width: 650px){
    .content{
        padding: 0px 8px;
        gap: 6px;
    }
}